<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
        <%= image_tag @movie.poster_url, :class=>"poster_image" %>
      </div>
      <div class="col-sm-9">
        <h3>
          <%= @movie.title %>
          (<%= @movie.release_year %>)
          <%= link_to @movie.imdb do%>
            <%= image_tag asset_path("imdb_logo.png") %>
          <% end %>
        </h3>
        <p class="label movie-label reduis mb1">$ <%= @movie.price %></p>
        <p><%= @movie.description %></p>
      </div>
  </div>
</div>